.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .card-container {
    padding: 2px 0px;
  }

.title1{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.cat-imgs{
    width:70px; 
    height:auto; 
    margin-right:10px;

}

ul {
  list-style-type: none;
  }